<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User List</title>
    <link rel="stylesheet" href="{% static "css/users.css" %}">
  </head>
  <body>
    <table>
      {% if user_list %}
      <thead>
        <th>FName</th>
        <th>LName</th>
        <th>Email</th>
      </thead>
      {% for user in user_list %}
      <tr>
        <td> {{ user.fname }} </td>
        <td> {{ user.lname }} </td>
        <td> {{ user.email }} </td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
